### Connecting mongoDB with Python using Pymongo Libary

In [1]:
##Import Libary
import pymongo

In [2]:
## Establish the connection with mongodb client
client = pymongo.MongoClient('mongodb://127.0.0.1:27017/') #By default Host, IP and Port

In [3]:
## Creating collection if not exist, if it exist the use that collection
mydb = client['Employee']

In [5]:
client.stats

Database(MongoClient(host=['127.0.0.1:27017'], document_class=dict, tz_aware=False, connect=True), 'stats')

In [4]:
information = mydb.employeeData ## Creating object of the collection to perform CURD operation

#### Insert One record

In [5]:
record= {'F_Name':"Prateek",'L_Name':"Sharma","Age":25}

In [6]:
information.insert_one(record)

#### Insert Multiple record

In [ ]:
record= [{'F_Name':"Abhishek",'L_Name':"Kumar","Age":26},
         {'F_Name':"Neeraj",'L_Name':"krish","Age":27},
         {'F_Name':"Sharique",'L_Name':"Kumari","Age":28},
         {'F_Name':"Prashant",'L_Name':"Singh","Age":29}]

In [8]:
information.insert_many(record)

### Python- Querying Json Documents

In [5]:
mydb = client['Employee']
empinfo = mydb.employeeinformation

In [4]:
record = {
    'firstname':'Prateek',
    'lastname' : 'Sharma',
    'department':'Analytics',
    'qualification':'BE',
    'age':29
}
empinfo.insert_one(record)

In [5]:
records = [
    {
    'firstname':'Akshu',
    'lastname' : 'Sharma',
    'department':'Analytics',
    'qualification':'BE',
    'age':25
},
    {
    'firstname':'Avinash',
    'lastname' : 'Kumar',
    'department':'Sales',
    'qualification':'MSC',
    'age':30
},
    {
    'firstname':'Sunil',
    'lastname' : 'Kalloji',
    'department':'Mainframe',
    'qualification':'BE',
    'age':32
},
    {
    'firstname':'Shobit',
    'lastname' : 'Aggrawal',
    'department':'Devops',
    'qualification':'BE',
    'age':227
}
    
]

In [6]:
## Insert many records
empinfo.insert_many(records)

## Querying Data from MongoDB

In [6]:
## Simple way of quering data.
empinfo.find_one()# Retirves only one record

{'_id': ObjectId('5e5a5ba190558043cb8c8dea'),
 'firstname': 'Prateek',
 'lastname': 'Sharma',
 'department': 'Analytics',
 'qualification': 'BE',
 'age': 29}

In [7]:
# Finding all the records
## Select * from employeeinformation

empinfo.find() # or empinfo.find({})

In [8]:
for record in empinfo.find():
    print(record)

{'_id': ObjectId('5e5a5ba190558043cb8c8dea'), 'firstname': 'Prateek', 'lastname': 'Sharma', 'department': 'Analytics', 'qualification': 'BE', 'age': 29}
{'_id': ObjectId('5e5a5cab90558043cb8c8deb'), 'firstname': 'Akshu', 'lastname': 'Sharma', 'department': 'Analytics', 'qualification': 'BE', 'age': 25}
{'_id': ObjectId('5e5a5cab90558043cb8c8dec'), 'firstname': 'Avinash', 'lastname': 'Kumar', 'department': 'Sales', 'qualification': 'MSC', 'age': 30}
{'_id': ObjectId('5e5a5cab90558043cb8c8ded'), 'firstname': 'Sunil', 'lastname': 'Kalloji', 'department': 'Mainframe', 'qualification': 'BE', 'age': 32}
{'_id': ObjectId('5e5a5cab90558043cb8c8dee'), 'firstname': 'Shobit', 'lastname': 'Aggrawal', 'department': 'Devops', 'qualification': 'BE', 'age': 227}

In [11]:
## Query the json document based on equality conditions
# Select * from empliyeeinformation where firstname = 'Prateek'

for record in empinfo.find({'firstname':'Prateek'}):
    print(record)

{'_id': ObjectId('5e5a5ba190558043cb8c8dea'), 'firstname': 'Prateek', 'lastname': 'Sharma', 'department': 'Analytics', 'qualification': 'BE', 'age': 29}

In [9]:
## Querying document using query operators($in, $lt, $gt)
# select * from mpliyeeinformation where department isin('Analytics','Mainframe')


for record in empinfo.find({'department':{'$in':['Analytics','Mainframe']}}):
    print(record)

{'_id': ObjectId('5e5a5ba190558043cb8c8dea'), 'firstname': 'Prateek', 'lastname': 'Sharma', 'department': 'Analytics', 'qualification': 'BE', 'age': 29}
{'_id': ObjectId('5e5a5cab90558043cb8c8deb'), 'firstname': 'Akshu', 'lastname': 'Sharma', 'department': 'Analytics', 'qualification': 'BE', 'age': 25}
{'_id': ObjectId('5e5a5cab90558043cb8c8ded'), 'firstname': 'Sunil', 'lastname': 'Kalloji', 'department': 'Mainframe', 'qualification': 'BE', 'age': 32}

In [10]:
## And and Query operators

for record in empinfo.find({'qualification':'BE','age':{'$lt':30}}):
    print(record)

{'_id': ObjectId('5e5a5ba190558043cb8c8dea'), 'firstname': 'Prateek', 'lastname': 'Sharma', 'department': 'Analytics', 'qualification': 'BE', 'age': 29}
{'_id': ObjectId('5e5a5cab90558043cb8c8deb'), 'firstname': 'Akshu', 'lastname': 'Sharma', 'department': 'Analytics', 'qualification': 'BE', 'age': 25}

In [11]:
# OR operator

for record in empinfo.find({'$or':[{'firstname':'Prateek'},{'department': 'Analytics'}]}):
    print(record)

{'_id': ObjectId('5e5a5ba190558043cb8c8dea'), 'firstname': 'Prateek', 'lastname': 'Sharma', 'department': 'Analytics', 'qualification': 'BE', 'age': 29}
{'_id': ObjectId('5e5a5cab90558043cb8c8deb'), 'firstname': 'Akshu', 'lastname': 'Sharma', 'department': 'Analytics', 'qualification': 'BE', 'age': 25}

#### Creating one more collection for doing nested operation

In [12]:
inventory = mydb.inventory

In [17]:
inventory.insert_many( [
   { 'item': "journal", 'qty': 25, 'size': { 'h': 14, 'w': 21,'uom': "cm" }, 'status': "A" },
   { 'item': "notebook", 'qty': 50,'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "A" },
   { 'item': "paper", 'qty': 100, 'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "D" },
   { 'item': "planner", 'qty': 75, 'size': { 'h': 22.85,'w': 30,'uom': "cm" },'status': "D" },
   { 'item': "postcard", 'qty': 45, 'size': { 'h': 10, 'w': 15.25,'uom': "cm" },'status': "A" }
]);

In [13]:
for record in inventory.find({'size': { 'h': 14, 'w': 21,'uom': "cm" }}):
    print(record)

{'_id': ObjectId('5e5a631890558043cb8c8def'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}

### MongoDB with python Updating Json Documents

#### Function for Update:

- pymongo.collection.Collection.update_one()
- pymongo.collection.Collection.update_many()
- pymongo.collection.Collection.replace_one()

In [14]:
inventory.insert_many([
    {"item": "canvas",
     "qty": 100,
     "size": {"h": 28, "w": 35.5, "uom": "cm"},
     "status": "A"},
    {"item": "journal",
     "qty": 25,
     "size": {"h": 14, "w": 21, "uom": "cm"},
     "status": "A"},
    {"item": "mat",
     "qty": 85,
     "size": {"h": 27.9, "w": 35.5, "uom": "cm"},
     "status": "A"},
    {"item": "mousepad",
     "qty": 25,
     "size": {"h": 19, "w": 22.85, "uom": "cm"},
     "status": "P"},
    {"item": "notebook",
     "qty": 50,
     "size": {"h": 8.5, "w": 11, "uom": "in"},
     "status": "P"},
    {"item": "paper",
     "qty": 100,
     "size": {"h": 8.5, "w": 11, "uom": "in"},
     "status": "D"},
    {"item": "planner",
     "qty": 75,
     "size": {"h": 22.85, "w": 30, "uom": "cm"},
     "status": "D"},
    {"item": "postcard",
     "qty": 45,
     "size": {"h": 10, "w": 15.25, "uom": "cm"},
     "status": "A"},
    {"item": "sketchbook",
     "qty": 80,
     "size": {"h": 14, "w": 21, "uom": "cm"},
     "status": "A"},
    {"item": "sketch pad",
     "qty": 95,
     "size": {"h": 22.85, "w": 30.5, "uom": "cm"},
     "status": "A"}])

In [15]:
inventory.update_one(
{"item": "sketch pad"},
{"$set":{"size.uom":"m", "status":"p"},
"$currentDate":{"LastModified": True}}
)

In [16]:
for record in inventory.find({"qty":{"$lt":50}}):
    print(record)

{'_id': ObjectId('5e5a631890558043cb8c8def'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('5e5a631890558043cb8c8df3'), 'item': 'postcard', 'qty': 45, 'size': {'h': 10, 'w': 15.25, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('5e5a8b0cacd51984f50eb530'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('5e5a8b0cacd51984f50eb532'), 'item': 'mousepad', 'qty': 25, 'size': {'h': 19, 'w': 22.85, 'uom': 'cm'}, 'status': 'P'}
{'_id': ObjectId('5e5a8b0cacd51984f50eb536'), 'item': 'postcard', 'qty': 45, 'size': {'h': 10, 'w': 15.25, 'uom': 'cm'}, 'status': 'A'}

In [17]:
inventory.update_many(
{"qty":{"$lt":50}},
{"$set": {"size.uom":"in", "status":"P"},
"$currentDate": {"lastModified": True}}
)

In [18]:
for record in inventory.find({"qty":{"$lt":50}}):
    print(record)

{'_id': ObjectId('5e5a631890558043cb8c8def'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'in'}, 'status': 'P', 'lastModified': datetime.datetime(2020, 2, 29, 16, 16, 50, 151000)}
{'_id': ObjectId('5e5a631890558043cb8c8df3'), 'item': 'postcard', 'qty': 45, 'size': {'h': 10, 'w': 15.25, 'uom': 'in'}, 'status': 'P', 'lastModified': datetime.datetime(2020, 2, 29, 16, 16, 50, 152000)}
{'_id': ObjectId('5e5a8b0cacd51984f50eb530'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'in'}, 'status': 'P', 'lastModified': datetime.datetime(2020, 2, 29, 16, 16, 50, 152000)}
{'_id': ObjectId('5e5a8b0cacd51984f50eb532'), 'item': 'mousepad', 'qty': 25, 'size': {'h': 19, 'w': 22.85, 'uom': 'in'}, 'status': 'P', 'lastModified': datetime.datetime(2020, 2, 29, 16, 16, 50, 152000)}
{'_id': ObjectId('5e5a8b0cacd51984f50eb536'), 'item': 'postcard', 'qty': 45, 'size': {'h': 10, 'w': 15.25, 'uom': 'in'}, 'status': 'P', 'lastModified': datetime.datetime(2020, 2, 29, 16, 16, 50, 152000)}

In [20]:
inventory.replace_one(
{"item":"paper"},
{"item":"paper",
"instock": [
    {"warehouse":"A", "qty":60},
    {"warehouse":"B", "qty":40}
]}
)

In [19]:
#Before replace
for record in inventory.find({"item":"paper"}):
    print(record)

{'_id': ObjectId('5e5a631890558043cb8c8df1'), 'item': 'paper', 'qty': 100, 'size': {'h': 8.5, 'w': 11, 'uom': 'in'}, 'status': 'D'}
{'_id': ObjectId('5e5a8b0cacd51984f50eb534'), 'item': 'paper', 'qty': 100, 'size': {'h': 8.5, 'w': 11, 'uom': 'in'}, 'status': 'D'}

In [21]:
# After replace 
for record in inventory.find({"item":"paper"}):
    print(record)

{'_id': ObjectId('5e5a631890558043cb8c8df1'), 'item': 'paper', 'instock': [{'warehouse': 'A', 'qty': 60}, {'warehouse': 'B', 'qty': 40}]}
{'_id': ObjectId('5e5a8b0cacd51984f50eb534'), 'item': 'paper', 'qty': 100, 'size': {'h': 8.5, 'w': 11, 'uom': 'in'}, 'status': 'D'}